{% load static %}
<header class="navbar">
    <div class="logo">
        <h1>WISHLIST</h1>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">
                <img src="{% static 'global/assets/svg/home.svg' %}" alt=""></img>
            </a></li>
            <li>
                <a href="#"><img src="{% static 'global/assets/svg/history.svg' %}" alt=""></img>
            </a></li>
            <li>
                <a href="#"><img src="{% static 'global/assets/svg/categories.svg' %}" alt=""></img>
            </a></li>
        </ul>
    </nav>

</header>